.encabezado-wrapper {
  display: contents;
}
 
.encabezado-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #212427;
}
 
.encabezado-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column-reverse;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: #8d806f;
}
 
.encabezado-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.encabezado-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.encabezado-text1 {
  text-align: center;
}
 
.encabezado-image {
  width: 560px;
  height: 220px;
  align-self: center;
  object-fit: cover;
}
 
.encabezado-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.encabezado-row-container {
  flex: 0;
  width: 100%;
  overflow: hidden;
  aspect-ratio: auto;
}
 
.encabezado-strip1 {
  height: 100%;
}
 
.encabezado-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.encabezado-container3 {
  display: contents;
}
 
.encabezado-strip2 {
  height: 100%;
}
 
.encabezado-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image22 {
  width: 400px;
  height: 400px;
}
 
.encabezado-placeholder-image23 {
  width: 400px;
  height: 400px;
}
 
.encabezado-container5 {
  display: contents;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.encabezadoroot-class-name {
  overflow: hidden;
  padding-top: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
  background-color: #212427;
}
 
@media(max-width: 767px) {
  .encabezado-content2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .encabezado-image {
    width: 100%;
    height: 202px;
  }
  .encabezado-content2 {
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .encabezadoroot-class-name {
    width: 100%;
    overflow: hidden;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
}

.maps-envevido-wrapper {
  display: contents;
}
 
.maps-envevido-container1 {
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.maps-envevido-container2 {
  width: auto;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  align-self: center;
  grid-template-columns: 1fr 1fr;
}
 
.maps-envevido-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #8d806f;
}
 
.maps-envevido-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.maps-envevido-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.maps-envevido-container3 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.maps-envevido-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.maps-envevido-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.maps-envevido-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.maps-envevido-container4 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.maps-envevido-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.maps-envevido-feature2-title {
  width: auto;
}
 
.maps-envevido-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.maps-envevido-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.maps-envevido-container5 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.maps-envevido-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.maps-envevido-image-container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
 
.maps-envevido-google-maps {
  width: 100%;
  height: 100%;
  align-self: center;
  aspect-ratio: auto;
}
 
.maps-fragment6 {
  display: contents;
}
 
.maps-text20 {
  display: inline-block;
}
 
.maps-fragment3 {
  display: contents;
}
 
.maps-text12 {
  display: inline-block;
}
 
.maps-fragment2 {
  display: contents;
}
 
.maps-text11 {
  display: inline-block;
}
 
.maps-fragment4 {
  display: contents;
}
 
.maps-text15 {
  display: inline-block;
}
 
.maps-fragment5 {
  display: contents;
}
 
.maps-text16 {
  display: inline-block;
}
 
.maps-fragment1 {
  display: contents;
}
 
.maps-text10 {
  display: inline-block;
}
 
.maps-envevidoroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  padding-top: var(--dl-layout-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-layout-space-twounits);
  background-color: #8d806f;
}
 
@media(max-width: 991px) {
  .maps-envevido-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .maps-envevido-tabs-menu {
    order: 2;
  }
}
 
@media(max-width: 479px) {
  .maps-envevido-container2 {
    display: grid;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .maps-envevido-tabs-menu {
    align-items: flex-start;
    padding-top: var(--dl-layout-space-unit);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-unit);
    justify-content: center;
  }
  .maps-envevido-tab-horizontal1 {
    width: auto;
  }
}

.maps-wrapper {
  display: contents;
}
 
.maps-container {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
 
.maps-fragment1 {
  display: contents;
}
 
.maps-text10 {
  display: inline-block;
}
 
.maps-fragment2 {
  display: contents;
}
 
.maps-text11 {
  display: inline-block;
}
 
.maps-fragment3 {
  display: contents;
}
 
.maps-text12 {
  display: inline-block;
}
 
.maps-fragment4 {
  display: contents;
}
 
.maps-text15 {
  display: inline-block;
}
 
.maps-fragment5 {
  display: contents;
}
 
.maps-text16 {
  display: inline-block;
}
 
.maps-fragment6 {
  display: contents;
}
 
.maps-text20 {
  display: inline-block;
}
 
.mapsroot-class-name {
  height: auto;
}
 
@media(max-width: 767px) {
  .mapsroot-class-name {
    margin-top: var(--dl-layout-space-twounits);
    margin-bottom: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 479px) {
  .mapsroot-class-name {
    width: auto;
  }
}

.contactanos-wrapper {
  display: contents;
}
 
.contactanos-contact5 {
  display: flex;
  padding: var(--dl-layout-space-twounits);
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #212427;
}
 
.contactanos-max-width {
  align-self: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: #8d806f;
}
 
.contactanos-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-contact-info {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contactanos-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contactanos-row3 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.contactanos-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: none;
  overflow: visible;
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: 183px;
  flex-direction: column;
}
 
.contactanos-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-text-input1 {
  width: 100%;
}
 
.contactanos-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-text-input2 {
  width: 100%;
}
 
.contactanos-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-textarea {
  width: 100%;
}
 
.contactanos-checkbox {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.contactanosroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  padding-top: var(--dl-layout-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
@media(max-width: 991px) {
  .contactanos-max-width {
    flex-direction: column;
  }
  .contactanos-content {
    width: 100%;
  }
  .contactanos-form {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .contactanos-max-width {
    width: 100%;
  }
  .contactanos-form {
    width: auto;
    align-self: center;
    padding-left: 0px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #212427;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
