.contactanos-contact5 {
  display: flex;
  padding: var(--dl-layout-space-twounits);
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #212427;
}
 
.contactanos-max-width {
  align-self: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: #8d806f;
}
 
.contactanos-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-contact-info {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contactanos-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contactanos-row3 {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.contactanos-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: none;
  overflow: visible;
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: 183px;
  flex-direction: column;
}
 
.contactanos-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-text-input1 {
  width: 100%;
}
 
.contactanos-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-text-input2 {
  width: 100%;
}
 
.contactanos-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contactanos-textarea {
  width: 100%;
}
 
.contactanos-checkbox {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
}
 
.contactanos-fragment1 {
  display: contents;
}
 
.contactanos-text5 {
  display: inline-block;
}
 
.contactanos-fragment2 {
  display: contents;
}
 
.contactanos-text6 {
  display: inline-block;
}
 
.contactanos-fragment3 {
  display: contents;
}
 
.contactanos-text7 {
  display: inline-block;
}
 
.contactanos-fragment4 {
  display: contents;
}
 
.contactanos-text8 {
  display: inline-block;
}
 
.contactanosroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  padding-top: var(--dl-layout-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
@media(max-width: 991px) {
  .contactanos-max-width {
    flex-direction: column;
  }
  .contactanos-content {
    width: 100%;
  }
  .contactanos-form {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .contactanos-max-width {
    width: 100%;
  }
  .contactanos-form {
    width: auto;
    align-self: center;
    padding-left: 0px;
  }
}
