.maps-envevido-container1 {
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.maps-envevido-container2 {
  width: auto;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  align-self: center;
  grid-template-columns: 1fr 1fr;
}
 
.maps-envevido-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #8d806f;
}
 
.maps-envevido-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.maps-envevido-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.maps-envevido-container3 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.maps-envevido-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.maps-envevido-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.maps-envevido-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.maps-envevido-container4 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.maps-envevido-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.maps-envevido-feature2-title {
  width: auto;
}
 
.maps-envevido-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.maps-envevido-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.maps-envevido-container5 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.maps-envevido-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.maps-envevido-image-container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
 
.maps-envevido-google-maps {
  width: 100%;
  height: 100%;
  align-self: center;
  aspect-ratio: auto;
}
 
.maps-envevido-fragment1 {
  display: contents;
}
 
.maps-envevido-text10 {
  display: inline-block;
}
 
.maps-envevido-fragment2 {
  display: contents;
}
 
.maps-envevido-text16 {
  display: inline-block;
}
 
.maps-envevido-fragment3 {
  display: contents;
}
 
.maps-envevido-text19 {
  display: inline-block;
}
 
.maps-envevido-fragment4 {
  display: contents;
}
 
.maps-envevido-text20 {
  display: inline-block;
}
 
.maps-envevido-fragment5 {
  display: contents;
}
 
.maps-envevido-text21 {
  display: inline-block;
}
 
.maps-envevido-fragment6 {
  display: contents;
}
 
.maps-envevido-text25 {
  display: inline-block;
}
 
.maps-envevidoroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  padding-top: var(--dl-layout-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-layout-space-twounits);
  background-color: #8d806f;
}
 
@media(max-width: 991px) {
  .maps-envevido-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .maps-envevido-tabs-menu {
    order: 2;
  }
}
 
@media(max-width: 479px) {
  .maps-envevido-container2 {
    display: grid;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .maps-envevido-tabs-menu {
    align-items: flex-start;
    padding-top: var(--dl-layout-space-unit);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-unit);
    justify-content: center;
  }
  .maps-envevido-tab-horizontal1 {
    width: auto;
  }
}
