.features25-wrapper {
  display: contents;
}
 
.features25-container1 {
  padding: 0px;
}
 
.features25-container2 {
  width: auto;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  align-self: center;
  grid-template-columns: 1fr 1fr;
}
 
.features25-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #8d806f;
}
 
.features25-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features25-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.features25-container3 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features25-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features25-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features25-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.features25-container4 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features25-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features25-feature2-title {
  width: auto;
}
 
.features25-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features25-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
}
 
.features25-container5 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features25-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features25-image-container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
 
.features25-google-maps {
  width: 100%;
  height: 100%;
  align-self: center;
  aspect-ratio: auto;
}
 
.maps-fragment6 {
  display: contents;
}
 
.maps-text20 {
  display: inline-block;
}
 
.maps-fragment3 {
  display: contents;
}
 
.maps-text12 {
  display: inline-block;
}
 
.maps-fragment2 {
  display: contents;
}
 
.maps-text11 {
  display: inline-block;
}
 
.maps-fragment4 {
  display: contents;
}
 
.maps-text15 {
  display: inline-block;
}
 
.maps-fragment5 {
  display: contents;
}
 
.maps-text16 {
  display: inline-block;
}
 
.maps-fragment1 {
  display: contents;
}
 
.maps-text10 {
  display: inline-block;
}
 
.features25root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  padding: var(--dl-layout-space-twounits);
  background-color: #8d806f;
}
 
@media(max-width: 991px) {
  .features25-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .features25-tabs-menu {
    order: 2;
  }
}
 
@media(max-width: 479px) {
  .features25-container2 {
    display: grid;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .features25-tabs-menu {
    align-items: flex-start;
    padding-top: var(--dl-layout-space-unit);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-unit);
    justify-content: center;
  }
  .features25-tab-horizontal1 {
    width: auto;
  }
}

.maps-container {
  width: 100%;
  height: 741px;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
 
.maps-fragment1 {
  display: contents;
}
 
.maps-text10 {
  display: inline-block;
}
 
.maps-fragment2 {
  display: contents;
}
 
.maps-text11 {
  display: inline-block;
}
 
.maps-fragment3 {
  display: contents;
}
 
.maps-text12 {
  display: inline-block;
}
 
.maps-fragment4 {
  display: contents;
}
 
.maps-text15 {
  display: inline-block;
}
 
.maps-fragment5 {
  display: contents;
}
 
.maps-text16 {
  display: inline-block;
}
 
.maps-fragment6 {
  display: contents;
}
 
.maps-text20 {
  display: inline-block;
}
 
.mapsroot-class-name {
  height: auto;
}
 
@media(max-width: 767px) {
  .mapsroot-class-name {
    margin-top: var(--dl-layout-space-twounits);
    margin-bottom: var(--dl-layout-space-twounits);
  }
}
