.ventajas-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.ventajas-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #8d806f;
}
 
.ventajas-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.ventajas-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.ventajas-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.ventajas-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.ventajas-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.ventajas-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.ventajas-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.ventajas-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.ventajas-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.ventajas-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.ventajas-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.ventajas-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.ventajas-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
 
.ventajas-image1 {
  display: block;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.ventajas-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.ventajas-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.ventajas-fragment1 {
  display: contents;
}
 
.ventajas-text1 {
  display: inline-block;
}
 
.ventajas-fragment2 {
  display: contents;
}
 
.ventajas-text2 {
  display: inline-block;
}
 
.ventajas-fragment3 {
  display: contents;
}
 
.ventajas-text3 {
  display: inline-block;
}
 
.ventajas-fragment4 {
  display: contents;
}
 
.ventajas-text4 {
  display: inline-block;
}
 
.ventajas-fragment5 {
  display: contents;
}
 
.ventajas-text5 {
  display: inline-block;
}
 
.ventajas-fragment6 {
  display: contents;
}
 
.ventajas-text6 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .ventajas-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .ventajas-tabs-menu {
    order: 2;
  }
}
